.header {
    background-color: darkolivegreen;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 0;
}

.main {
    padding: 1em;
    color: white;
    text-align: center;
    background-color: darkolivegreen;
}

body {
    background-color: lightgray;
    background-image: url("record.png");
    background-size: contain;
    background-repeat: repeat-y | repeat-x;
    margin: 0;
}
.list {
    color: white;
    text-align: left;
}